<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <span>Practising Projects</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
     #sidenav
     [mode]="isBiggerScreen() ? 'over' : 'side'"
      [opened]="opened"
     [fixedInViewport]="true"
     [fixedTopGap]
  >
    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['/']">Home</a>
      <a mat-list-item href="#" [routerLink]="['/directive']">Directive Project</a>
      <a mat-list-item  [routerLink]="['/reciped']">Reciped Project</a>
    </mat-nav-list>

  </mat-sidenav>


  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!--
    <vcm-vouchers-list></vcm-vouchers-list>-->
  </mat-sidenav-content>
</mat-sidenav-container>
